body {
    background-color: #3c3c3c;
}

.logo-padding {
    padding-right: 5px;
}

.container-custom {
    padding-left: 0;
    padding-right: 0;
}

#help-port {
    background-color: #3c3c3c;
    padding-right: 0;
    border-bottom: solid 2px #636363;
    border-right: solid 2px #636363;
    font-size: 1.25rem;
}

.vh-100 {
    height: 96vh !important;
}

@font-face {
    font-family: adventure;
    /*src: url('/fonts/everest.ttf');*/
    src: url('/fonts/Reactor.ttf');
    /*src: url('/fonts/ZXOCR-B.ttf');*/
}
.help-title {
    font-family: adventure;
}

#feedback {
    color: #ffffff;
    background-color: #444444;
    padding: 10px;
    border-radius: 0.25rem;
    margin-top: 10px;
}
keyword {
    /*color: #e83e8c;*/
    color: #e8bb3c;
    font-size: 1.3rem;
}
