<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <div th:replace="fragments/header :: includes"/>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>

<!--Container-->
<div class="container-fluid d-flex container-custom col-xl-12">

    <div id="action-port" class="col-xl-5 h-100">

        <!--Navbar-->
        <div th:replace="fragments/navigation :: navbar"/>

        <!--Command input / command history-->
        <div class="row">
            <div class="col">
                <form method="POST" id="game">
                    <div class="input-group mb-3">
                        <input id="action" type="text" class="form-control" autofocus="autofocus">
                        <div class="input-group-append">
                            <button type="submit" id="go" class="btn btn-warning">
                                <i class="fas fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--Game splash / info-->
        <div class="row">
            <div class="col">
                <div id="splash-screen" class="jumbotron">
                    <button id="splash-close" type="button" class="btn btn-link splash-close"><i
                            class="fas fa-times"></i></button>
                    <h1 class="splash-title">Welcome to Super Adventure!</h1>
                    <h3 class="splash-subtitle">The world's lamest adventure game.</h3>
                    <p class="lead">Super Adventure is a simple example <kbd>text</kbd> <kbd>adventure</kbd> game.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="game-port" class="col">

                <div class="row">
                    <div class="col">
                        <div class="ontop">
                            <div id="game-over-bar">
                                <span>Game Over!</span>
                                <button id="start-again" type="button" class="btn btn-sm btn-warning" style="">
                                    Start again
                                </button>
                            </div>
                            <div class="row">
                                <div class="d-flex flex-row">
                                    <!--Scene Assets-->
                                    <div id="assets" class="d-flex flex-column">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="scene-image"></div>
                <hr class="my-2">
                <div id="feedback"></div>

            </div>
        </div>
        <div class="row">
            <div id="history-port" class="col">
                <hr class="my-2">
                <ul id="history" class="list-group">
                </ul>
            </div>
        </div>

    </div>
</div>

</div>
</body>
</html>