<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<div th:replace="fragments/general.html :: footer"></div>-->
<head>
    <div th:replace="fragments/header :: includes"/>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/help.css"/>
</head>
<body>

<!--Container-->
<div class="container-fluid d-flex container-custom">

    <div id="help-port" class="col h-100">

        <!--Navbar-->
        <div th:replace="fragments/navigation :: navbar"/>

        <!--Dashed divider-->
        <div class="row h-50">
            <div class="col">
                <ul class="list-group">
                </ul>
            </div>
        </div>

        <!--Game splash / info-->
        <div class="row h-50">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1 class="display-4">HELP</h1>
                    Instructions:
                    <hr class="my-4">

                    <p class="h6">Movement commands:</p>
                    <ol class="list-unstyled">
                        <li th:each="item : ${movementActions}"><kbd th:text="${item}"></kbd></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
</body>
</html>